{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Atualizar um voo</title>
    <link rel="stylesheet" href="{% static 'projeto/home.css'%}" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <div>
              <a class="btn btn-primary" href="{% url 'crud' %}" role="button">
                Voltar &raquo;
              </a>
            </div>
          </li>
        </ul>
      </div>
    </nav>

    <h1 style="text-align: center">Atualizar dados de um Voo</h1>

    <div>
      <p style="padding-left:5px"><b>Pesquisar</b> voo com código:
        <form style="padding-left:5px" method="get">
          {{ voos_filter.form }}
          <input type="submit" />
        </form>
      </p>

      <div id="table-wrapper">
        <div id="table-scroll">
          <table class="table">
            <thead class="thead-dark">
              <tr>
                <th>Id</th>
                <th>Companhia Aérea</th>
                <th>Código</th>
                <th>Status</th>
                <th>Origem</th>
                <th>Destino</th>
                <th>Partida Prevista</th>
                <th>Chegada Prevista</th>
                <th>Partida Real</th>
                <th>Chegada Real</th>
              </tr>
            </thead>
            <tbody>
              {% for voo in voos_qs %}
                <tr>
                  <th>{{voo.id}}</th>
                  <th>{{voo.companhia_aerea}}</th>
                  <th>{{voo.codigo}}</th>
                  <th>{{voo.status}}</th>
                  <th>{{voo.origem}}</th>
                  <th>{{voo.destino}}</th>
                  <th>{{voo.partida_prevista|date:"H:i d/m/Y"}}</th>
                  <th>{{voo.chegada_prevista|date:"H:i d/m/Y"}}</th>
                  <th>{{voo.partida_real}}</th>
                  <th>{{voo.chegada_real}}</th>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      </a>
    </div>

    <form method="POST">
      <div class="form-group col-md-3">
        {% csrf_token %}
        <label for="companhia">Companhia Aérea</label>
        <input
          name="companhia"
          type="text"
          class="form-control"
          placeholder="Companhia Aérea"
        />
        <label for="codigo">Código</label>
        <input
          name="codigo"
          type="text"
          class="form-control"
          placeholder="Código"
        />
        <label for="origem">Origem</label>
        <input
          name="origem"
          type="text"
          class="form-control"
          placeholder="Origem"
        />
        <label for="destino">Destino</label>
        <input
          name="destino"
          type="text"
          class="form-control"
          placeholder="Destino"
        />
        <label for="partida_prevista">Partida prevista</label>
        <input
          name="partida_prevista"
          type="datetime-local"
          class="form-control"
          placeholder="Partida prevista"
        />
        <label for="chegada_prevista">Chegada prevista</label>
        <input
          name="chegada_prevista"
          type="datetime-local"
          class="form-control"
          placeholder="Chegada prevista"
        />
      </div>

      <button type="submit" class="btn btn-secondary">Atualizar</button>
    </form>
    {{obj}}

  </body>
</html>
