{% load static %}

<!DOCTYPE html>
<html lang="en">
  <style>
    #table-wrapper {
      position:relative;
    }
    #table-scroll {
      height:450px;
      overflow:auto;  
      margin-top:20px;
    }
    #table-wrapper table {
      width:100%;
    }
  </style>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Monitoramento de voos</title>
    <link rel="stylesheet" href="{% static 'projeto/home.css'%}" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
  </head>
  <body>

    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'home' %}"
              >Home <span class="sr-only">(current)</span></a
            >
          </li>
        </ul>
      </div>
    </nav>

    <h2>Monitoramento de Voos</h2>
    <h3>Chegadas</h3>
    <div>
      <form method="get">
        {{ chegadas_filter.form }}
        <input type="submit" value="Pesquisar"/>
      </form>

      <div id="table-wrapper">
        <div id="table-scroll">
          <table class="table">
            <thead class="thead-dark">
              <tr>
                <th>Código</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              {% for chegada in chegadas_qs %}
                <tr>
                  <th>{{chegada.codigo}}</th>
                  <th>{{chegada.status}}</th>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      <h3>Partidas</h3>
      <div>
        <form method="get">
          {{ partidas_filter.form.as_p }}
          <input type="submit" value="Pesquisar"/>
        </form>
  
        <div id="table-wrapper">
          <div id="table-scroll">
            <table class="table">
              <thead class="thead-dark">
                <tr>
                  <th>Código</th>
                  <th>Status</th>
                </tr>
              </thead>
              <tbody>
                {% for partida in partidas_qs %}
                  <tr>
                    <th>{{partida.codigo}}</th>
                    <th>{{partida.status}}</th>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </a>
    </div>

    <div>
      <a class="btn btn-primary" href="{% url 'estado' %}" role="button"> Mudar Estado do voo &raquo; </a>
    </div>
  </body>
</html>
