{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Relatório gerado</title>
    <link rel="stylesheet" href="{% static 'projeto/home.css'%}" />
    <style>
      #table-wrapper {
        position:relative;
      }
      #table-scroll {
        height:450px;
        overflow:auto;  
        margin-top:20px;
      }
      #table-wrapper table {
        width:100%;
      }
      </style>
  </head>
  <body>

    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link"
              > &#8203; <span class="sr-only">(current)</span></a
            >
          </li>
        </ul>
      </div>
    </nav>

    <h1>Tela do Relatório</h1>

    <div id="table-wrapper">
      <div id="table-scroll">
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th>Companhia Aérea</th>
              <th>Código</th>
              <th>Status</th>
              <th>Origem</th>
              <th>Destino</th>
              <th>Partida Prevista</th>
              <th>Chegada Prevista</th>
              <th>Partida Real</th>
              <th>Chegada Real</th>
            </tr>
          </thead>
          <tbody>
            {% for voo in voos_filter %}
              <tr>
                <th>{{voo.companhia_aerea}}</th>
                <th>{{voo.codigo}}</th>
                <th>{{voo.status}}</th>
                <th>{{voo.origem}}</th>
                <th>{{voo.destino}}</th>
                <th>{{voo.partida_prevista}}</th>
                <th>{{voo.chegada_prevista}}</th>
                <th>{{voo.partida_real}}</th>
                <th>{{voo.chegada_real}}</th>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>

    <div>
      <a class="btn btn-primary" href="{% url 'relatorio' %}" role="button">Fechar Relatório &raquo;</a>
    </div>
  </body>
</html>
