{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gerar relatórios</title>
    <link rel="stylesheet" href="{% static 'projeto/home.css'%}" />
  </head>
  <body>

    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'home' %}"
              >Home <span class="sr-only">(current)</span></a
            >
          </li>
        </ul>
      </div>
    </nav>

    <div class="col-md-6">
      <h2>Relatório de período específico</h2>
    </div>
    <div class="col-md-4">
    <form action="{% url 'mostrarelatorio' %}" method="POST">
        <div class="form-group">
          {% csrf_token %}
          <label for="data-inicio">Data de início</label>
          <input
            name="data-inicio"
            type="datetime-local"
            class="form-control"
          />
        </div>
        <div class="form-group">
          <label for="data-fim">Data de fim</label>
          <input
            name="data-fim"
            type="datetime-local"
            class="form-control"
          />
        </div>
        <a class="btn btn-primary" href="{% url 'mostrarelatorio' %}" role="button"> Gerar Relatório &raquo; </a>
      </form>
    </div>

    <br/>
    <div class="col-md-6">
      <h2>Relatório do dia</h2>
      <form action="{% url 'mostrarelatorio' %}" method="GET">
        <a class="btn btn-primary" href="{% url 'mostrarelatorio' %}" role="button"> Gerar Relatório &raquo; </a>
      </form>
    </div>

  </body>
</html>
